---
import BaseLayout from '../layouts/BaseLayout.astro';
import "../styles/portfolio.css";
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "My Portfolio";

---
<BaseLayout pageTitle={pageTitle}>

<header>
    <a href="/">Home</a>

    <div class="logo">
      <img src="/assets/myLogo.png" alt="Logo">
    </div>

    <a href="/portfolio">Portfolio</a>
  </header>
  

	<div class="project-layout-container">
		<div class="project-layout">
			{allPosts.map((post) => 
			<a href={post.url} class="project-item">
                <img src={post.frontmatter.teaser} alt={post.frontmatter.title} />
                <h2 class="project-title">{post.frontmatter.title}</h2>
            </a>
			
			)}
		
		</div>
	</div>	
  
  </BaseLayout>