---
import BaseLayout from './BaseLayout.astro';
import "../styles/portfolio.css";
import "../styles/carousel.css";
const { frontmatter } = Astro.props;
const images = frontmatter.image
---
<BaseLayout pageTitle={frontmatter.title}>
<script src="../scripts/carousel.js"></script>

  <header>
    <a href="/">Home</a>

    <div class="logo">
      <img src="/assets/myLogo.png" alt="Logo">
    </div>

    <a href="/portfolio">Portfolio</a>
  </header>

<h2 class="telma">
  {frontmatter.title}
</h2>

<!-- carousel -->
  <div class="carousel">
  <div class="carousel-viewport">
    <div class="carousel-track">
      {images.map((image, index) => (
        <div class="carousel-item" data-index={index}>
          <img src={`/assets/${image}`} alt={`Slide ${index + 1}`} />
        </div>
      ))}
    </div>
  </div>
  <button class="carousel-control prev">&#10094;</button>
  <button class="carousel-control next">&#10095;</button>
</div>


  <slot />

 
<!-- Button -->
{frontmatter.link && (
  <a
    href={frontmatter.link}
    target="_blank"
    rel="noopener noreferrer"
    class="figma-button"
  >
    Explore!
  </a>
)}
  
</BaseLayout>